/* ini css */

.celcius-container {
text-align: center;
    
}

.result-container {
    display: flex;
    justify-content: space-evenly;
}

.fahrenheit {
    resize: none;
    background-color: #f8f8f8;
    border-radius: 4px;
    border: 2px solid #ccc;
    font-size: 14px;
    font-family: math;
}

.konversi:hover{
    background-color: white;
}

textarea {
    resize: none;
    background-color: #f8f8f8;
    border-radius: 64px;
    border: 2px solid #ccc;
    font-size: 16px;
    font-family: math;
}

.button {
    height: 37px;
    border: 0px;
    border-radius: 4px;
}

.blue-color {
    background-color: blue;
    color: white;
}

.red-color {
    background-color: red;
    color: white;
}

.green-color {
    background-color: green;
    color: white;
}

.subject-info {
    font-size: 24px; 
    font-style: italic; 
    font-family: math;
}

